{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Ваша корзина {%if not cart.products.count %}пуста{% endif %}</h3>

{% if cart.products.count %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Наименование товара:</th>
        <th scope="col">Изображения</th>
        <th scope="col">Цена</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Общаяя цена:</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart.products.all %}
    <tr>
        <th scope="row"><a
                href="{% url 'product_detail'  slug=item.product.slug  %}">
            {{item.product.title}}</a></th>
        <td class="w-25"><img src="{{item.product.image.url}}" class="image-fluid"></td>
        <td>{{item.price}} грн</td>
        <td>
            <form action="{% url 'change_qty' slug=item.product.slug  %}"
                  method="POST">
                {% csrf_token %}
                <input type="number" class="form-control" style="width:70px;" min="1" name="qty" value="{{item.qty}}">
                <br>
                <input type="submit" class="btn btn-primary" value="Изменить к-ство">
            </form>
        </td>
        <td>{{item.final_price}}</td>
        <td>
            <a href="{% url 'delete_from_cart' slug=item.product.slug %}">
                <button class="btn btn-danger">Удалить из корзины</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"></td>
        <td>Итого:</td>
        <td>{{cart.total_products}}</td>
        <td><strong>{{cart.final_price}} грн.</strong></td>
        <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Перейти к оформлению</button> </a> </td>
    </tr>
    </tbody>
</table>
{% endif %}
{% endblock content %}