{% extends 'base.html' %}
<!--{% load specifications %}-->
{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{% url 'category_detail' slug=product.category.slug%}">{{ product.category.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
  </ol>
</nav>
<div class="row">
    <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid mb-3">

    </div>
    <div class="col-md-8">
        <h3>{{ product.title }}</h3>
        <p>Цена : {{product.price }} грн</p>
        <p>Описание: {{product.description}} </p>
        <hr>
        <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}" ><button class="btn btn-danger">Добавить в корзину</button></a>
    </div>
    <p class="mt-4"><b>Характеристики:  </b></p>
<!--    {{ product|product_spec }}-->
    {% if product.category.slug == 'notebooks' %}
        {% include 'notebook_specification.html' %}
    {% else %}
        {% include 'smartphone_specification.html' %}
    {% endif %}
</div>


{% endblock content %}
